$main-color: #001f3f;
$main-light-color: #0074D9;
.button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: $main-color;
    &:hover {
        background-color: $main-light-color;
    }
}